<?xml version="1.0"?>
<configuration>
  <connectionstrings>
    <add name="default" connectionstring="CHLWCT01AP01\SQLEXPRESS,1433;Initial Catalog=CONTROLPT;Integrated Security=false;uid=usercontrolpt;pwd=$Control03" providername="System.Data.SqlClient">
    </add>
  </connectionstrings>

  <authentication mode="Forms">
    <forms name="appNameAuth" path="/" loginurl="Login.aspx" defaulturl="Default.aspx" protection="All">
    </forms>
  </authentication>
  <authorization>
    <deny users="?">
    </deny>
  </authorization>
  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
